.content__card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    text-align: center;
    margin: .5rem;
}

.card__picture>img {
    min-width: 15rem;
    width: 15rem;
    border: 1px solid gray;
}