.container__big-card {
    margin: 0 1rem;
    width: 35rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__title>h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.big-card__description>p>a {
    margin-top: 1rem;
    color: gray;
}

.big-card__picture>img {
    width: 100%;
    min-width: 35rem;
    border-radius: 0.5rem;
}
