.container__articles {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articles__main>h2 {
    margin-left: 1rem;
}

.others__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.others__title>a {
    color: tomato;
    text-decoration: underline;
    margin: 0 .5rem;
}